@font-face {
  font-family: "iconfont"; /* Project id 1421697 */
  src: url('/src/assets/iconfont/iconfont.woff2?t=1661859559063') format('woff2'),
       url('/src/assets/iconfont/iconfont.woff?t=1661859559063') format('woff'),
       url('/src/assets/iconfont/iconfont.ttf?t=1661859559063') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\ea94";
}

.icon-dashboard:before {
  content: "\eab4";
}

.icon-list:before {
  content: "\e663";
}

.icon-menu:before {
  content: "\e652";
}

.icon-yonghu:before {
  content: "\e640";
}

.icon-pifu:before {
  content: "\e743";
}

.icon-a-122-tuichuquanping:before {
  content: "\e8db";
}

.icon-quanping:before {
  content: "\e655";
}

.icon-xiaoxi:before {
  content: "\e617";
}

.icon-sousuo:before {
  content: "\e616";
}

.icon-lookzhibo:before {
  content: "\e613";
}

.icon-faxianyinle:before {
  content: "\e614";
}

.icon-jingcaishipin:before {
  content: "\e618";
}

.icon-wodeyunpan:before {
  content: "\e619";
}

.icon-wodepengyou:before {
  content: "\e61a";
}

.icon-xiazaiguanli:before {
  content: "\e61b";
}

