@use './reset.scss';
@use './iconfont.css';
@use './vars.scss';
@use './transition.scss';
@use './element-reset.scss';
@use 'element-plus/theme-chalk/dark/css-vars.css';
@use 'element-plus/theme-chalk/src/message.scss';

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

html.dark {
    background: var(--dark-main);

    // wangEditor
    .wangeditor {
        filter: invert(0.9) hue-rotate(180deg);
    }
}

body.dark {
    background: var(--dark-main);
    color: #fff;
}

#nprogress .bar {
    background: var(--theme-color);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
